.sliding-text {
    position: relative;
    white-space: nowrap;
    animation: slide 2s ease-in-out forwards;
  }
  
  @keyframes slide {
    from {
      right: 100%;
    }
    to {
      right: 0;
      animation-iteration-count: 100;
    }
}
  